



/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container, 
    .sequence-container,
    .disruptor-container,
    .static-container {
        width: 700px;
        margin-left: -350px;
    }
    
    .container {height: 600px; margin-top: -300px !important; display:block !important; position: relative;}
    
    #persistentNav {
        display: none;
    }
    
    
    .grid {width: 300px;}
    .full {width: 700px;}
    .push {margin-left: 350px;}

    .center-center {
        margin: 0 auto !important;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        padding-top: 150px;
    }
    
    .disruptor-container {
        margin-left: auto;
        width: 100%;
    }
    
    
    .sequence-container {
        display: none;
    }
    
    .static-container {
        display: block;
        margin-top: -215px;
        z-index: 500;
    }
    
    .static-container img {
        width:  720px;
        height: 404px;
    }
    
    .section-wrapper {
        height: 800px;
    }
    
    .section-head {
        position: relative!important;
        display:block !important; 
        opacity: 1 !important;
        top: 0px !important;
        z-index: 600;
    }
    .section-body {
        display:block !important; 
        opacity: 1 !important;
        bottom: 0px !important;
        z-index: 600;
    }
    
    .disruptor-container {width: 720px; }
    


    /*===start===*/
    #share_toggle{
        display: none;
    }
    #start .container {top: 100px; left: 50%; margin-left: -360px; margin-top: 0px; position: relative; }
    #start .section-head h1 {margin-top: 300px; }

    #parallax4,
    #parallax9,
    #parallax11,
    #parallax12 {
        position: absolute;
        background-attachment:scroll;
    }

    #section_1 .container {
        position: static;
        top: 0;
        left: 0;
        margin: 80px auto 0 auto!important;
    }

    #parallax9 {
        background-size: inherit;
        background-position: 50% bottom!important;
    }
    #parallax11,
    #parallax12 {
        bottom: -200px;
        top: auto;
        background-position: 50% bottom!important;
    }
    #parallax4{
        background-position: 50% 240px;
    }

    video.macro{
        width: 100%;
        height: 100%;
    }
    video#macro_svg{
        display: none;
    }
    #section_2 .disruptor-container .center-center{
        top: 0;
    }


    #section_3_intro .section-title{
        top: -20px;
    }

    #line_1,
    #line_2,
    #line_5{
        display: none;
    }
    #feature_rounders{
        position: relative;
        bottom: -200px;
        left: 130px
    }
    #stage{
        margin: 0 auto;
        width: 600px;
        height: 600px;
    }
    #shape.spin{
        -moz-animation: none;
        -webkit-animation: none;
        animation: none;
    }

    .summary#summary_1{
        top: 130px;
        left: 50%;
        margin-left: -250px;
    }
    .summary#summary_2{
        top: 340px;
        left: 50%;
        margin-left: -250px;
    }
    .summary#summary_3{
        top: 500px;
        left: 50%;
        margin-left: -250px;
    }
    #section_3_intro .ripple{
        display: none;
    }


    #section_4 img{
        margin-left: -480px
    }
    #back_logo{
        margin-left: -270px;
        background-size: 500px;
    }
    #section_4_intro .section-title{
        margin-top: 150px;
        margin-left: -350px;
    }

    /*section_5*/
    #model_illusta_left .model_illusta_bg{
        background-position: center 40px;
    }
    #model_illusta_center{
        margin-left: 240px;
        margin-top: -110px;
        -webkit-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        transform: rotate(-50deg);
    }

    #section_5_intro .summary_wrap .summary{
        border-left: none;
        padding-left: 0;
    }
    #section_5_intro i,
    #section_5_intro h2,
    #section_5_intro .summary p{
        color: #333;
    }
    #summary_card{
        position: relative;
        margin-top: 40px;
        margin-left: -240px;
        /*width: auto;*/
        /*background: none;*/
        /*box-shadow: none;*/
        /*border: none;*/
        /*padding: 0;*/
        /*color: #333;*/
    }


    #section_6 .container{
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    #line_3,
    #line_4,
    #section_7_pic .feature_icons .one_icon,
    #section_7_pic .feature_icons dl{
        opacity: 1;
        visibility: visible;
    }

    #section_7_intro .feature_icons li{
        width: 120px;
    }

    #section_8_intro .center-center{
        top: 0;
        padding-top: 60px;
    }
    #section_9_intro .center-center{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ft-inner{
        width: 700px;
    }

    #form_content_wrap{
        width: 100%;
    }
    #form_main{
        width: auto;
    }

    #impact-data{
        display: block;
    }


}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .container, 
    .sequence-container, 
    .disruptor-container, 
    .static-container {
        width: 480px;
        margin-left: -240px;
    }
    
    #progress, 
    #progressbg,
    #persistentNav {
        display: none;
    }

    
    .container {height: 500px; margin-top: -250px !important; display:block !important; position: relative;}
       
    .grid,
    .full {width: 480px;}
    .push {margin-left: 0px;}
    
    .center-center {
        margin: 0 auto !important;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        padding-top: 150px;
    }
    
    .disruptor-container {
        margin-left: auto;
        width: 100%;
    }
    
    h1 {font-size: 38px; text-align: center;}
    h2 {font-size: 28px;}
    h3 {font-size: 20px;}
    h4 {font-size: 16px;}
    
    #persistentNav {
        display: none;
    }

    .sequence-container {
        display: none;
    }
    
    .static-container {
        display: block;
        margin-top: -133px;
        z-index: 500;
    }
    
    .static-container img{
        height: 269px;
        width: 480px;
        margin-left: -60px;
        z-index: 500;
    }
    
    .section-wrapper {
        height: 550px;
 
    }
    
    .section-head,
    .section-body {
        z-index: 600 !important;
    }
    
    .section-head {
        display:block !important; 
        opacity: 1 !important;
        top: 0px !important;
        z-index: 600;
    }
    
    .section-body {
        display:block !important; 
        opacity: 1 !important;
        bottom: 0px !important;
        z-index: 600;
    }

    /*start*/
    #share,
    #share_toggle{
        display: none;
    }

    #section_1{
        height: 550px;
    }
    #section_1 .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        margin: 0 auto!important;
    }

    #section_1 .section-head{
        margin: 0;
        left: auto;
    }

    #section_1 .container h1.logo{
        width: 300px;
        background-size: 300px;
        height: 90px;
    }
    #section_1 .container h3{
        font-size: 30px;
    }

    #parallax4,
    #parallax9,
    #parallax11,
    #parallax12 {
        position: absolute;
        background-attachment:scroll;
    }

    #parallax9 {
        background-size: inherit;
        background-position: 50% bottom!important;
        background-size: cover;
    }
    #parallax11,
    #parallax12 {
        bottom: -220px;
        top: auto;
        background-position: 50% bottom!important;
        background-size: cover;
    }
    #parallax4{
        background-position: 50% 100px;
    }


    #section_2 .disruptor-container .center-center{
        top: 0;
        padding-top: 150px;
    }
    video.macro{
        height: 100%;
    }
    video#macro_svg{
        display: none;
    }



    #section_3{
        height: auto;
    }
    #section_3 .container{
        height: 100%;
        position: static;
        margin: 10px auto !important;
    }
    #section_3_intro{
        position: relative;
        width: 300px;
    }
    #section_3_intro .ripple{
        display: none;
    }

    #section_3_intro .section-title{
        position: static;
        text-align: left;
    }

    #section_3_intro .section-title h2{
        text-align: left;
    }

    #line_1,
    #line_2,
    #line_5,
    #feature_rounders{
        display: none;
    }

    #section_3_intro .summary_wrap{
        margin-right: 0;
        margin-top: 20px;
    }

    .summary#summary_1,
    .summary#summary_2,
    .summary#summary_3{
        position: static;
        margin: 0;
        width: 260px;
        padding: 20px;
        margin-bottom: 20px;
    }
    #section_3_intro .feature_icons{
        float: none;
    }
    #section_3_intro .feature_icons .one_icon{
        /*width: 80px;
        height: 80px;
        background-size: 80px;*/
    }
    #section_3_intro .summary p{
        margin-left: 0;
    }


    #section_4{
        height: 400px
    }
    #section_4 img{
        height: 400px;
        margin-left: -290px;
    }
    #back_logo{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -60px;
        width: 300px;
        background-size: 300px;
        z-index: -1;
    }
    #section_4_intro .grid{
        width: 300px;
        left: 0;
    }
    #section_4_intro .section-title{
        margin-left: 0px;
        margin-top: 120px;
    }
    #section_4_intro .section-title h2{
        /*font-size: 30px;*/
    }
    #section_4_intro .section-title h2 span{
        margin-top: 20px;
    }


    #section_5{
        height: 550px;
    }
    #section_5 .feature_points{
        width: 300px;
    }
    #model_illusta_left .model_illusta_bg{
        background-size: 150px;
    }
    .circle_border{
        display: none;
    }
    #model_illusta_right{
        display: none;
    }
    #model_illusta_center{
        margin-left: 114px;
        margin-top: -75px;

        -webkit-transform: rotate(-50deg) scale(.7);
        -moz-transform: rotate(-50deg) scale(.7);
        transform: rotate(-50deg) scale(.7);
    }
    #section_5_intro{
        z-index: 5;
        margin-top: -220px;
    }
    #section_5_intro .grid{
        width: 100%;
    }
    #section_5_intro .section-title {
        margin-top: 0;
    }
    #section_5_intro h2{
        text-align: left;
    }
    #section_5_intro .summary_wrap{
        margin-right: 0;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
    }
    #section_5_intro .summary_wrap .summary{
        padding-left: 0;
        border-left: none;
    }
    #section_5_intro .summary p{
        color: #333;
    }
    #summary_card{
        /*width: auto;
        position: static;
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-top: 20px;*/
    }

    #impact-data{
        display: block;
        height: 100%;
        left: 50%;
        width: auto;
        margin-left: -360px;
    }


    #section_7{
        height: auto;
    }
    #line_3,
    #line_4,
    #section_7_pic .feature_icons .one_icon,
    #section_7_pic .feature_icons dl{
        opacity: 1;
        visibility: visible;
    }

    #section_7_pic{
        position: static;
        height: 300px;
        width: 100%;
        margin: 0 auto;
    }
    #section_7_pic .summary{
        position: static;
        margin:0 auto;
        padding-top: 20px;
        width: 300px;
    }
    #section_7_pic .feature_icons li{
        width: 150px;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        margin-right: 0;
    }
    #section_7_pic .ripple,
    #section_7_pic canvas{
        display: none;
    }
    #section_7_pic .feature_icons .one_icon{
        margin-bottom: 0;
        border-color: #fff;
    }
    #section_7_pic .feature_icons dl{
        margin:0  12px;
        padding: 10px 5px;
        background: rgba(0,0,0,0.4);
    }

    #section_7_intro{
        position: static;
        height: auto;
        width: 100%;
        margin: 0 auto;
    }
    #section_7_intro .grid{
        margin: 0 auto;
    }
    #section_7_intro .feature_icons li{
        width: 120px;
        /*display: inline-block;*/
    }
    #section_7_intro .feature_icons{
        margin: 0 auto;
        text-align: center;
    }


    #section_8{
        height: 300px;
        background-size: 800px;
    }
    #section_8_intro .center-center{
        top: 0;
        padding-top: 0;
    }
    #section_8_intro .center-center{
        top: 20px;
    }
    #section_8_intro ul{
        width: 300px;
    }
    #section_8_intro li{
        width: 100px;
        height: auto;
        margin: 0;
    }
    #section_8_intro li span{
        width: 80px;
        height: 80px;
        font-size: 40px;
        line-height: 80px;
    }
    .start-exploring .button{
        width: 300px
    }

    #section_9_intro .center-center{
        padding: 30px 0;
    }


    .ft-inner{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .ft-inner dl{
        margin-right: 10px;
    }
    .socials{
        right: 10px;
    }
    .ft-inner .others{
        margin-right: 10px;
    }



    #form_content_wrap{
        width: auto;
    }
    #preview_wrap{
        width: 320px;
        height: auto;
    }
    #form_inner{
        background: #fff;
    }
    #preview_slider img{
        width: 320px;
        height: 320px;
    }
    #preview_slider ul li{
        width: 80px;
        height: 80px;
    }
    #preview_slider li a{
        width: 80px;
    }
    #preview_slider li img{
        width: 65px;
        height: 65px;
    }
    #form_main{
        width: auto;
        height: auto;
        margin-left: 320px;
    }
    #size_table > a{
        display: none;
    }

}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {


    .container, 
    .sequence-container, 
    .disruptor-container, 
    .static-container {
        width: 300px;
        margin-left: -150px;
    }
    
    #progress, 
    #progressbg,
    #persistentNav {
        display: none;
    }

    
    .container {height: 500px; margin-top: -250px !important; display:block !important; position: relative;}
       
    .grid,
    .full {width: 300px;}
    .push {margin-left: 0px;}
    
    .center-center {
        margin: 0 auto !important;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        padding-top: 150px;
    }
    
    .disruptor-container {
        margin-left: auto;
        width: 100%;
    }
    
    h1 {font-size: 38px; text-align: center;}
    h2 {font-size: 28px;}
    h3 {font-size: 20px;}
    h4 {font-size: 16px;}
    
    #persistentNav {
        display: none;
    }

    .sequence-container {
        display: none;
    }
    
    .static-container {
        display: block;
        margin-top: -133px;
        z-index: 500;
        width: 300px;
    }
    
    .static-container img{
        height: 269px;
        width: 300px;
        margin-left: -60px;
        z-index: 500;
    }
    
    .section-wrapper {
        height: 550px;
 
    }
    
    .section-head,
    .section-body {
        z-index: 600 !important;
    }
    
    .section-head {
        display:block !important; 
        opacity: 1 !important;
        top: 0px !important;
        z-index: 600;
    }
    
    .section-body {
        display:block !important; 
        opacity: 1 !important;
        bottom: 0px !important;
        z-index: 600;
    }

    /*start*/
    #share,
    #share_toggle{
        display: none;
    }

    #section_1{
        height: 550px;
    }
    #section_1 .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 90px;
        margin: 0 auto!important;
    }

    #section_1 .section-head{
        margin: 0;
        left: auto;
    }

    #section_1 .container h1.logo{
        width: 300px;
        background-size: 300px;
        height: 90px;
    }
    #section_1 .container h3{
        font-size: 24px;
    }

    #parallax4,
    #parallax9,
    #parallax11,
    #parallax12 {
        position: absolute;
        background-attachment:scroll;
    }

    #parallax9 {
        background-size: inherit;
        background-position: 50% bottom!important;
        background-size: cover;
    }
    #parallax11,
    #parallax12 {
        bottom: -220px;
        top: auto;
        background-position: 50% bottom!important;
        background-size: cover;
    }
    #parallax4{
        background-position: 50% 150px;
        background-size: 500px;
    }


    #section_2 .disruptor-container .center-center{
        top: 0;
        padding-top: 150px;
    }
    video.macro{
        height: 100%;
        width: 100%;
    }
    video#macro_svg{
        display: none;
    }



    #section_3{
        height: auto;
    }
    #section_3 .container{
        height: 100%;
        position: static;
        margin: 10px auto !important;
    }
    #section_3_intro{
        position: relative;
        width: 300px;
    }
    #section_3_intro .ripple{
        display: none;
    }

    #section_3_intro .section-title{
        position: static;
        text-align: left;
    }

    #section_3_intro .section-title h2{
        text-align: left;
    }

    #line_1,
    #line_2,
    #line_5,
    #feature_rounders{
        display: none;
    }

    #section_3_intro .summary_wrap{
        margin-right: 0;
        margin-top: 20px;
    }

    .summary#summary_1,
    .summary#summary_2,
    .summary#summary_3{
        position: static;
        margin: 0;
        width: 260px;
        padding: 20px;
        margin-bottom: 20px;
    }
    #section_3_intro .feature_icons{
        float: none;
    }
    #section_3_intro .feature_icons .one_icon{
        /*width: 80px;
        height: 80px;
        background-size: 80px;*/
    }
    #section_3_intro .summary p{
        margin-left: 0;
    }


    #section_4{
        height: 400px
    }
    #section_4 img{
        height: 400px;
        margin-left: -290px;
    }
    #back_logo{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -100px;
        width: 300px;
        background-size: 200px;
        z-index: -1;
    }
    #section_4_intro .grid{
        width: 300px;
        left: 0;
    }
    #section_4_intro .section-title{
        margin-left: 0px;
        margin-top: 120px;
    }
    #section_4_intro .section-title h2{
        /*font-size: 30px;*/
    }
    #section_4_intro .section-title h2 span{
        margin-top: 20px;
        margin-left: -20px;
        background-size: 300px;
    }


    #section_5{
        height: 550px;
    }
    #section_5 .feature_points{
        width: 300px;
    }
    #model_illusta_left .model_illusta_bg{
        background-size: 150px;
    }
    .circle_border{
        display: none;
    }
    #model_illusta_right{
        display: none;
    }
    #model_illusta_center{
        display: none;
    }
    #section_5_intro{
        z-index: 5;
        margin-top: -220px;
    }
    #section_5_intro .grid{
        width: 300px;
    }
    #section_5_intro .section-title {
        margin-top: 0;
    }
    #section_5_intro h2{
        text-align: left;
    }
    #section_5_intro .summary_wrap{
        margin-right: 0;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
    }
    #section_5_intro .summary_wrap .summary{
        padding-left: 0;
        border-left: none;
    }
    #section_5_intro .summary p{
        color: #333;
    }
    #summary_card{
        width: 280px;
        padding: 10px!important;
        position: relative;
        z-index: 5;
        margin-left: -150px;
        margin-top: 30px;
    }

    #impact-data{
        width: 300px;
        display: block;
        height: 100%;
        left: 50%;
        width: auto;
        margin-left: -400px;
    }


    #section_7{
        height: auto;
    }
    #line_3,
    #line_4,
    #section_7_pic .feature_icons .one_icon,
    #section_7_pic .feature_icons dl{
        opacity: 1;
        visibility: visible;
    }

    #section_7_pic{
        position: static;
        height: 300px;
        width: 100%;
        margin: 0 auto;
    }
    #section_7_pic .summary{
        position: static;
        margin:0 auto;
        padding-top: 20px;
        width: 300px;
    }
    #section_7_pic .feature_icons li{
        width: 150px;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        margin-right: 0;
    }
    #section_7_pic .ripple,
    #section_7_pic canvas{
        display: none;
    }
    #section_7_pic .feature_icons .one_icon{
        margin-bottom: 0;
        border-color: #fff;
        width: 122px;
    }

    #section_7_pic .feature_icons dl{
        margin:0  10px;
        padding: 10px 5px;
        background: rgba(0,0,0,0.4);
    }
    #section_7_pic .feature_icons dt{
        font-weight: normal;
    }

    #section_7_intro{
        position: static;
        height: auto;
        width: 100%;
        margin: 0 auto;
    }
    #section_7_intro .grid{
        margin: 0 auto;
    }
    #section_7_intro .feature_icons li{
        width: 120px;
        /*display: inline-block;*/
    }
    #section_7_intro .feature_icons{
        margin: 0 auto;
        text-align: center;
    }


    #section_8{
        height: 300px;
        background-size: 800px;
    }
    #section_8_intro.static-container{
        margin-left: -150px;
        width: 300px;
    }
    #section_8_intro .center-center{
        top: 0;
        padding-top: 0;
        top: 20px;
    }
    #section_8_intro ul{
        width: 300px;
    }
    #section_8_intro li{
        width: 100px;
        height: auto;
        margin: 0;
    }
    #section_8_intro li span{
        width: 80px;
        height: 80px;
        font-size: 40px;
        line-height: 80px;
    }
    .start-exploring .button{
        width: 300px
    }

    #section_9_intro .center-center{
        padding: 30px 0;
    }

    .ft-inner{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .ft-inner dl{
        margin-right: 10px;
    }
    .socials{
        right: 10px;
    }
    .ft-inner .others{
        margin-right: 10px;
    }



    .start-exploring .bottom-line,
    .start-exploring .right-border,
    .start-exploring .top-border,
    .start-exploring .bottom-border
    ,.start-exploring .rectangle-border{
        display: none;
    }


    #form_content_wrap{
        width: auto;
    }
    #preview_wrap{
        width: 300px;
        height: auto;
    }
    #form_inner{
        background: #fff;
        margin: 10px;
        padding: 0;
    }
    #preview_slider{
        display: none;
    }
    #form_main{
        width: auto;
        height: auto;
        margin-left: 0px;
    }
    #size_table > a{
        display: none;
    }



    #h_h{
        /*height: 100%;*/
        background: #fff;
    }
    #h_h body{
        /*height: 100%;*/
        background: #39ad36;
        text-align: center;
    }
    #h_h_wrap{
        width: auto;
        margin: 0 10px;
        padding: 100px 0 0 0;
    }
    #h_h_wrap .logo{
        display: block;
        width: 300px;
        height: 90px;
        margin: 0 auto 20px auto;
        background: url(../images/logo.png) center top no-repeat;
        background-size: 300px;
        text-indent: -999em;
    }
    #h_h_wrap p{
        padding: 30px 0px 300px 0px;
        background: url(../images/hahaha.jpg) center bottom no-repeat;
        background-size: 500px;
        text-align: left;
        color: #fff;
        border-top: 1px solid #5ac257;
    }

}



